<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LJRunLoopWork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B07674FE1E4D4E4C00CEF17B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B07675171E4D4E4C00CEF17B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B07675221E4D4E4C00CEF17B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
